<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | BOVIBEDDING Management of cattle litter</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BOVIBEDDING Management of cattle litter</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/bovibedding.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/yW-0dWUWF4I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">The <strong>Bovibedding</strong> is the new machine for the management of the litter in <strong>cattle rearing</strong>.<br />
        In <strong>addition to savings of 40/50%</strong> compared to litters that farmers currently use, takes even greater importance to the welfare of the animal, as it creates the conditions of aerobiosis within the litter, improving the health status of the same.<br />
        In fact, dangerous for mastitis pathogenic bacteria are anaerobic, and then proliferate in conditions of the absence of oxygen.<br />
        At the beginning of each new litter, the Bovibedding to the first passage detaches the litter from the soil, leaving defibrated, airy and oxygenated thus preventing the development of pathogenic bacteria, because the presence Oxygen eliminates the conditions for their growth (absence of oxygen). Improve the health status of the litter, it means improving the health status of the animals and all breeding, with sustained reduction in smells and avoiding the risk of animal diseases (in particularly mastitis), and with reduction of somatic cells, thus improving the quality of the milk by increasing the value at the time of the dairy control.
        For a long-term use of the litter, the application of the rear wheels in optional rule the working depth when the litter exceeds 20 cm, this to avoid an crash effort to traction of the tractor and of the entire transmission of the Bovibedding, leaving also the base of the litter solid for proper foot support of the cows. In this way it is possible to maintain the compact litter, without depressions caused by the passage of animals, with a ventilated surface in the first 20 cm without pathogenic bacteria where the animals can lie down on a bed always soft and clean.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">Technical data</th>
                <th>
                  BM 170
                </th>
                <th>
                  BM 210
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Working width</td>
                <td>168 cm</td>
                <td>209 cm</td>
              </tr>
              <tr>
                <td>Total width</td>
                <td>191 - 230 cm</td>
                <td>232 - 273 cm</td>
              </tr>
              <tr>
                <td>Total lenght</td>
                <td>130 cm</td>
                <td>130 cm</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>105 cm</td>
                <td>105 cm</td>
              </tr>
              <tr>
                <td>3-point hitch</td>
                <td>Category 1 - 2</td>
                <td>Category 2 - 3</td>
              </tr>
              <tr>
                <td>Work on litter</td>
                <td>10 - 30</td>
                <td>10 - 30</td>
              </tr>
              <tr>
                <td>Number of blades</td>
                <td>20 + 20</td>
                <td>26 + 26</td>
              </tr>
              <tr>
                <td>Number of blades for sawdust and similar</td>
                <td> 10 + 10</td>
                <td> 13 + 13</td>
              </tr>
              <tr>
                <td>PTO (RPM)</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>Power HP</td>
                <td>70 / 80 DT</td>
                <td>80 / 100 DT</td>
              </tr>

              <tr>
                <td>Weight</td>
                <td>590 Kg</td>
                <td>680 Kg</td>
              </tr>
              <tr>
                <td>Weight front wheels for depth adjustment</td>
                <td>114 Kg</td>
                <td>134 Kg</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->           
    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>