<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Bovibedding - Gestione delle lettiere bovine</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BOVIBEDDING - Gestione delle lettiere bovine</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/bovibedding.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/yW-0dWUWF4I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">Il <strong>Bovibedding</strong> è la nuova macchina per la gestione delle lettiere nell’<strong>allevamento bovino</strong> a stabulato libero.<br />
<strong>Oltre al risparmio del 40/50% rispetto al lettime che gli allevatori attualmente utilizzano</strong>, assume ancora maggiore importanza per il benessere dell'animale, in quanto crea le condizioni di aerobiosi all'interno della lettiera, migliorando lo stato sanitario della stessa.<br />
Infatti, i batteri patogeni pericolosi per le mastiti, sono anaerobici, e proliferano quindi in condizioni di assenza di ossigeno.<br />
All’inizio di ogni nuova lettiera, il Bovibedding al primo passaggio stacca la lettiera dal suolo, lasciandola sfibrata, arieggiata e ossigenata impedendo così lo sviluppo dei batteri patogeni, in quanto la presenza dell'ossigeno elimina i presupposti per la loro crescita (assenza di ossigeno). Migliorare lo stato sanitario della lettiera, significa migliorare lo stato sanitario degli animali e di tutto l'allevamento, con forte riduzione dei cattivi odori ed evitando il rischio di malattie degli animali (in particolare mastiti), <strong>con riduzione delle cellule somatiche</strong>, migliorando così <strong>la qualità del latte</strong> aumentandone il valore al momento del controllo al caseificio.<br />
Per un utilizzo della lettiera a lungo termine, l’applicazione delle ruote posteriori in optional regola la profondità di lavoro quando la lettiera supera i 20 cm, questo per evitare un anomalo sforzo di trazione del trattore e di tutta la trasmissione del Bovibedding, lasciando anche la base della lettiera solida per un adeguato appoggio del piede delle mucche.<br />
In questo modo è possibile mantenere la lettiera compatta, priva degli avvallamenti causati dal passaggio degli animali, con una superificie arieggiata nei primi 20 cm superficiali senza batteri patogeni, dove gli animali possono coricarsi sopra un <strong>letto sempre morbido e pulito</strong>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">Dati Tecnici</th>
                <th>
                  BM 170
                </th>
                <th>
                  BM 210
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Larghezza lavoro</td>
                <td>168 cm</td>
                <td>209 cm</td>
              </tr>
              <tr>
                <td>Lunghezza macchina</td>
                <td>191 - 230 cm</td>
                <td>232 - 273 cm</td>
              </tr>
              <tr>
                <td>Lunghezza totale</td>
                <td>130 cm</td>
                <td>130 cm</td>
              </tr>
              <tr>
                <td>Altezza</td>
                <td>105 cm</td>
                <td>105 cm</td>
              </tr>
              <tr>
                <td>Attacco a 3 punti</td>
                <td>Categoria 1 - 2</td>
                <td>Categoria 2 - 3</td>
              </tr>
              <tr>
                <td>Lavorazione lettiera</td>
                <td>10 - 30</td>
                <td>10 - 30</td>
              </tr>
              <tr>
                <td>Numero Lame</td>
                <td>20 + 20</td>
                <td>26 + 26</td>
              </tr>
              <tr>
                <td>Numero lame per segatura similari</td>
                <td> 10 + 10</td>
                <td> 13 + 13</td>
              </tr>
              <tr>
                <td>PTO (giri/min)</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>Potenza HP</td>
                <td>70 DT</td>
                <td>80 DT</td>
              </tr>

              <tr>
                <td>Peso</td>
                <td>590 Kg</td>
                <td>680 Kg</td>
              </tr>

              <tr>
                <td>Peso ruote anteriori per regolazione profondità</td>
                <td>114 Kg</td>
                <td>134 Kg</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->           
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>