<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Company Profile</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
    <%- include ('./Generics/menuArea-it.ejs') %>


    <div role="main" class="main">

        <div class="spazio-sopra-no-menu">
          &nbsp;
        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <h2 class="word-rotator-title">
                Un gruppo alle spalle per garantirti solidità
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <p class="lead">
               
               M-C è una giovane e dinamica realtà che si avvale della collaborazione di Gruppo Meca, che con i suoi <strong>35 anni di attività</strong>, opera nel settore della carpenteria metallica; in particolare si occupa della lavorazione lamiera. <br /> <br />M-C produce <strong>macchine innovative</strong> che trovano applicazione in agricoltura in pieno campo, nella realizzazione di aree verdi e giardini di qualsiasi dimensione.
              </p>
            </div>
            <div class="col-md-3">
              <img class="img-responsive" src="/sites/all/themes/mcsrl/img/logo-grande-mc.png">
            </div>
          </div>  

          <div class="row">
            <div class="col-md-12">
              <hr class="tall">
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
            <h3 class="heading-primary"><strong>COMPANY PROFILE</strong></h3>
            <p class="hyphenate">M-C produce <strong>macchine innovative</strong> che trovano applicazione in agricoltura in pieno campo, nella realizzazione di aree verdi e giardini di qualsiasi dimensione.</p>
            <p class="hyphenate">Le macchine prodotte sono interratrici di sassi e vegetali per trattori, nonché rastrelli meccanici e piccole interratrici applicate a motocoltivatori con sistema di autobilanciamento.</p>
            <p class="hyphenate">M-C è una <span class="sottolineato"><strong>giovane e dinamica</strong></span> realtà che si avvale della collaborazione di Gruppo Meca, che con i suoi <strong>35 anni di attività</strong>, opera nel settore della carpenteria metallica; in particolare si occupa della <strong>lavorazione lamiera</strong>.</p>
            <p class="hyphenate">M-C è un <strong>partner affidabile e preciso</strong>, che si prefigge come missione aziendale la ricerca della massima qualità.</p>
            <p class="hyphenate">Tutto il <strong>processo produttivo</strong> di tali macchinari è <strong>interno</strong>, in modo da mantenere il massimo controllo qualitativo dei componenti prodotti.</p>
            <p class="hyphenate">La costante ricerca di soluzioni innovative, lo sviluppo di nuovi metodi produttivi e l'impiego della <strong>migliore tecnologia</strong> presente sul mercato, consente di offrire ai propri clienti standard qualitativi elevati e tempi di lavorazione brevi, il tutto a un prezzo molto competitivo. Ciò è reso possibile grazie alla <strong>costante innovazione</strong> in termini produttivi e tecnologici.</p>
            </div>
            <div class="col-md-4">
              <img class="img-responsive sparire-mobile" src="/sites/all/themes/mcsrl/img/sede-gruppo-meca.jpg">&nbsp;
            </div>
          </div>

        </div>

    </div>
    
    <%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>