<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | Company Profile</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
    <%- include ('./Generics/menuArea-en.ejs') %>


    <div role="main" class="main">

        <div class="spazio-sopra-no-menu">
          &nbsp;
        </div>

        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <h2 class="word-rotator-title">
                <!-- Un gruppo alle spalle per garantirti solidità -->
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <p class="lead">
               
                M-C is a young and dynamic reality that makes use of the Meca Group collaboration which, with its <strong>35 years of activity</strong>, operates in the field of carpentry; in particular, it deals with <strong>sheet metal working</strong>.<br /><br />
                M-C produces <strong>innovative machines</strong>  that find application in open field agriculture, in the realization of green areas and gardens of any size.
              </p>
            </div>
            <div class="col-md-3">
              <img class="img-responsive" src="/sites/all/themes/mcsrl/img/logo-grande-mc.png">
            </div>
          </div>  

          <div class="row">
            <div class="col-md-12">
              <hr class="tall">
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
            <h3 class="heading-primary"><strong>COMPANY PROFILE</strong></h3>
            <p class="hyphenate">
              <p class="hyphenate">M-C produces <strong>innovative machines</strong>  that find application in open field agriculture, in the realization of green areas and gardens of any size.</p>
              <p class="hyphenate">The produced machines are stone and plant buriers for tractors, as well as mechanical rakes and small buriers applied to walking tractors with the auto-balance system.</p>
              
                <p class="hyphenate">
              M-C is a <strong>young</strong> and <strong>dynamic</strong> reality that makes use of the Meca Group collaboration which, with its <strong>35 years of activity</strong>, operates in the field of carpentry; in particular, it deals with <strong>sheet metal working</strong>. </p>
              
              <p class="hyphenate">M-C is a <strong>reliable</strong> and <strong>precise</strong> partner, whose mission is the pursuit of the <strong>highest quality</strong>.</p>
              <p class="hyphenate">The entire <strong>production process</strong> of these equipment is <strong>in-house</strong>, in order to maintain the highest quality control of the manufactured components.
              </p>
              <p class="hyphenate">The constant research for innovating solutions, for the development of new production methods and the use of the <strong>best technology</strong> on the market allows us to offer our customers high quality standards and short processing times, all at a very competitive price. This is made possible thanks to <strong>constant innovation </strong>in technology and manufacturing terms .
              </p>
            </div>
            <div class="col-md-4">
              <img class="img-responsive sparire-mobile" src="/sites/all/themes/mcsrl/img/sede-gruppo-meca.jpg">&nbsp;
            </div>
          </div>

        </div>

    </div>
    
    <%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>