<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Bovibedding - Gestione delle lettiere bovine</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="content">
  <form class="webform-client-form webform-client-form-15" action="contattaci.html" method="post" id="webform-client-form-15" accept-charset="UTF-8">

    <!-- Inizio personalizzazione FP-->
      
      <section style="height: 40px;">
       &nbsp;
      </section>

      <div class="container">

        <div class="row">
          <div class="col-md-6">

            <h2 class="mb-sm mt-sm"><strong>Contattaci</strong></h2>
            <div  class="form-item webform-component webform-component-textfield webform-component--azienda">
              <label for="edit-submitted-azienda">Azienda</label>
              <input class="form-control" type="text" id="edit-submitted-azienda" name="submitted[azienda]" value="" size="30" maxlength="128" />
            </div>
            <div class="form-item webform-component webform-component-textfield webform-component--nome-e-cognome">
              <label class="required" for="edit-submitted-nome-e-cognome">Nome e Cognome</label>
              <input required="required" class="form-control" type="text" id="edit-submitted-nome-e-cognome" name="submitted[nome_e_cognome]" value="" size="30" maxlength="128" required />
            </div>
            <div  class="form-item webform-component webform-component-email webform-component--e-mail">
              <label class="required" for="edit-submitted-e-mail">E-Mail</label>
              <input required="required" class="email form-control form-text form-email required" type="email" id="edit-submitted-e-mail" name="submitted[e_mail]" size="60" />
            </div>
            <div class="form-item webform-component webform-component-textfield webform-component--telefono">
              <label class="required" for="edit-submitted-telefono">Telefono</label>
              <input required="required" class="form-control" type="text" id="edit-submitted-telefono" name="submitted[telefono]" value="" size="30" maxlength="128" required />
            </div>
            <div  class="form-item webform-component webform-component-textarea webform-component--messaggio">
              <label for="edit-submitted-messaggio">Messaggio</label>
              <div class="form-textarea-wrapper resizable"><textarea class="form-control" id="edit-submitted-messaggio" name="submitted[messaggio]" cols="60" rows="5"></textarea>
              </div>
            </div>

<!-- captcha -->
<!-- <div class="captcha"><input type="hidden" name="captcha_sid" value="13117" />
<input type="hidden" name="captcha_token" value="8bc97183b447e5954e67c1ed60b7e69d" />
<input type="hidden" name="captcha_response" value="Google no captcha" />
<div class="g-recaptcha" data-sitekey="6Lf6qcsUAAAAAHi7VemYKwpuqgkkubAq2mmg4rEl" data-theme="light" data-type="image"></div>
<input type="hidden" name="captcha_cacheable" value="1" />
</div> -->
<!-- fine captcha -->
 
          <div class="form-actions"><input class="btn btn-primary btn-lg mb-xlg" type="submit" name="op" value="Invia" /></div>
          </div>

          <div class="col-md-6">

            <h2 class="mb-sm mt-sm"><strong>M-C SRL</strong></h2>
            <ul class="list list-icons list-icons-style-3 mt-xlg">
              <li><i class="fa fa-map-marker"></i> <strong>Indirizzo:</strong>Via Fulgenio Zani, 11 - 42022 Boretto (RE) Italy</li>
              <li><i class="fa fa-phone"></i> <strong>Telefono:</strong> 0522.964261</li>
              <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:info@fptecnica.it">info@m-csrl.it</a></li>
            </ul>

            <hr>

            <h4 class="heading-primary"><strong>Orari</strong></h4>
            <ul class="list list-icons list-dark mt-xlg">
              <li><i class="fa fa-clock-o"></i> Lunedì - Venerdì dalle 8:30 alle 12:30 | dalle 14:30 alle 18:30 </li>
            </ul>

          </div>

        </div>

      </div>
    <!-- fine pagina FP -->        
    </form>  
</div>      
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>