<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | GREENPOWER - Polivalente serie PM e PH</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>GREENPOWER - Polivalente serie PM e PH</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/greenpower-polivalente.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/h6OYP3Z1Hm4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">La nuova Greenpower <strong>serie PH</strong> è un'interratrice <strong>polivalente</strong> idraulica autolivellante con regolazione e controllo profondità di lavoro dal posto di guida. La <strong>serie PH</strong> è consigliata nei modelli 226 e 266 per il settore agricolo, verde pubblico, parchi e campi da golf.<br /> Dopo la
trebbiatura per la semina di cereali
e per il rifacimento di prati stabili,
sovescia il terreno sino a 30 cm
di profondità interrando su terreni
asciutti e impegnativi residui
vegetali e sassi con possibilità di
semina e rullatura in simultanea
anche su terreno sodo. Si ottiene
un substrato perfettamente lavorato con un letto di semina che favorisce germinazione e crescita ineguagliabile.<br /> Semina a spaglio o a righe con falcioni e la profondità massima di lavoro è sino a 30 cm. Il sistema di <strong>autolivellamento</strong> consente di avere sempre la lama livellatrice in posizione ottimale per lasciare il terreno pari e senza avvallamenti, anche al cambiare della profondità di lavoro.</p>
<p class="hyphenate">
La <strong>serie PM </strong>è consigliata soprattutto per il settore giardinaggio nel modello 186.<br />
Si differenzia dalla serie PH per un <strong>peso ridotto</strong>, quindi preferibile alla stessa nel caso in cui sia utilizzata come macchina per la preparazione del terreno e la semina in terreni precedentemente lavorati ed in cui la presenza dei sassi sia ridotta, sia per quantità che dimensioni degli stessi.<br />
Molto utile per aziende con trattori di media potenza, in quanto il peso ridotto della serie PM può essere sollevato da trattori con potenze comprese tra 80-90 hp  comunemente presenti in quasi tutte le aziende, i quali hanno carreggiate che vengono coperte completamente dalle macchine della serie PM.<br />
Indicata soprattutto per vivaisti, giardinieri e per la creazione di aree verdi urbane.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Dati Tecnici
                </th>
                <th>
                  186 PM
                </th>
                <th>
                  226 PH
                </th>
                <th>
                  266 PH
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Larghezza lavoro
                </td>
                <td>186 cm</td>
                <td>226 cm</td>
                <td>266 cm</td>
              </tr>
              <tr>
                <td>Larghezza Totale</td>
                <td>227 cm</td>
                <td>267 cm</td>
                <td>315 cm</td>
              </tr>
              <tr>
                <td>Attacco traslabile</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Traslazione parte dx</td>
                <td>20 cm</td>
                <td>24 cm</td>
                <td>Centrale</td>
              </tr>
              <tr>
                <td>Profondità lavoro</td>
                <td>Da 5 a 25 cm</td>
                <td>Da 5 a 25 cm</td>
                <td>Da 5 a 25 cm</td>
              </tr>
              <tr>
                <td>Regolazione profondità</td>
                <td>Idraulica</td>
                <td>Idraulica</td>
                <td>Idraulica</td>
              </tr>
              <tr>
                <td>Corona porta-lame</td>
                <td> 9 x 4</td>
                <td> 11 x 4</td>
                <td> 13 x 4</td>
              </tr>
              <tr>
                <td>Numero lame</td>
                <td> 18 + 18</td>
                <td> 22 + 22</td>
                <td> 26 + 26</td>
              </tr>
              <tr>
                <td>Numero denti griglia</td>
                <td>27 + 28L </td>
                <td>33 + 34L</td>
                <td>40 + 41L</td>
              </tr>
              <tr>
                <td>Attacco a 3 punti</td>
                <td>Categoria 2-3</td>
                <td>Categoria 2-3</td>
                <td>Categoria 2-3</td>
              </tr>
              <tr>
                <td>PTO (giri/min)</td>
                <td>540</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>Potenza circa HP</td>
                <td>80 / 90</td>
                <td>120 / 130</td>
                <td>140 / 160</td>
              </tr>
              <tr>
                <td>Lunghezza (sem a spaglio)</td>
                <td>225 / 195 cm</td>
                <td>225 / 195 cm</td>
                <td>225 / 195 cm</td>
              </tr>
              <tr>
                <td>Lunghezza (sem a righe)</td>
                <td>265 / 240 cm</td>
                <td>265 / 240 cm</td>
                <td>265 / 240 cm</td>
              </tr>
              <tr>
                <td>Altezza</td>
                <td>145cm</td>
                <td>145cm</td>
                <td>145cm</td>
              </tr>

              <tr>
                <td>Peso variabile circa</td>
                <td>circa 1140</td>
                <td>1560</td>
                <td>2110</td>
              </tr>

              <tr>
                <td>Seminatrice optional</td>
                <td>Solo su richiesta</td>
                <td>Solo su richiesta</td>
                <td>Solo su richiesta</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->         
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>