<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | GREENPOWER - Patented multi-purpose buriers series PM and PH</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>GREENPOWER - Patented multi-purpose buriers series PM and PH</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/greenpower-polivalente.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/h6OYP3Z1Hm4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">The new <strong>Greenpower</strong> is a polyvalent hydraulic self- levelling burier with regulation and control the working depth from the driving.
        The <strong>PH series</strong> is recommended
        in models 226 and 266 for the
        agricultural sector, public green
        areas, parks and golf courses.
        After threshing for sowing
        cereals and for processing of
        permanent meadows, sovescia
        the soil up top 30 cm deep
        burying on dry and challenging
        plants debris and stones with
        possibility of sowing and
        simultaneously rolling even
        on hard. You get a perfectly worked with a seedbed which helps germination and growth. It sowing broadcaster or striped and maximum working depth is up to 30 cm. The self-levelling system allows you to always have the levelling blade in the best position to leave the ground levelled and without depressions, also when you change the working depth</p>
         <p class="hyphenate">
        The <strong>PM series</strong> is particularly recommended for gardening with the model 186. It differs from the series PH for its reduced weight, therefore, it is to be preferred in the case it is used as a machine for the preparation of the soil and the seeding on lands previously cultivated and where the presence of stones is reduced, both in quantity and size. These machines are very useful in those factories where exist medium powered tractors, as the low weight of the machines series PM allows tractors with power between 80-90 hp, commonly present in almost all factories, to lift them. The roadways of these tractors are completely covered by the machines series PM.<br />
        Indicated especially for nurserymen, gardeners and for the creation of urban green areas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Technical data
                </th>
                <th>
                  186 PM
                </th>
                <th>
                  226 PH
                </th>
                <th>
                  266 PH
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                 Working width
                </td>
                <td>186 cm</td>
                <td>226 cm</td>
                <td>266 cm</td>
              </tr>
              <tr>
                <td>Total width</td>
                <td>227 cm</td>
                <td>267 cm</td>
                <td>315 cm</td>
              </tr>
              <tr>
                <td>Movable attack</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Translate part dx</td>
                <td>20 cm</td>
                <td>24 cm</td>
                <td>Central</td>
              </tr>
              <tr>
                <td>Working depth</td>
                <td>From 5 to 25 cm</td>
                <td>From 5 to 25 cm</td>
                <td>From 5 to 25 cm</td>
              </tr>
              <tr>
                <td>Depth adjustment</td>
                <td>Hydraulics</td>
                <td>Hydraulics</td>
                <td>Hydraulics</td>
              </tr>
              <tr>
                <td>Crown door-blades</td>
                <td> 9 x 4</td>
                <td> 11 x 4</td>
                <td> 13 x 4</td>
              </tr>
              <tr>
                <td>Number of blades</td>
                <td> 18 + 18</td>
                <td> 22 + 22</td>
                <td> 26 + 26</td>
              </tr>
              <tr>
                <td>Number of teeth grill</td>
                <td>27 + 28L </td>
                <td>33 + 34L</td>
                <td>40 + 41L</td>
              </tr>
              <tr>
                <td>3-point hitch</td>
                <td>Category 2-3</td>
                <td>Category 2-3</td>
                <td>Category 2-3</td>
              </tr>
              <tr>
                <td>PTO (RPM)</td>
                <td>540</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>About HP horsepower</td>
                <td>80 / 90</td>
                <td>120 / 130</td>
                <td>140 / 160</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>225 / 195 cm</td>
                <td>225 / 195 cm</td>
                <td>225 / 195 cm</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>265 / 240 cm</td>
                <td>265 / 240 cm</td>
                <td>265 / 240 cm</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>145cm</td>
                <td>145cm</td>
                <td>145cm</td>
              </tr>

              <tr>
                <td>Variable weight approx.</td>
                <td>about 1140</td>
                <td>1560</td>
                <td>2110</td>
              </tr>

              <tr>
                <td>Optional seed drill</td>
                <td>Only in request</td>
                <td>Only in request</td>
                <td>Only in request</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->         
    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>