<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | Agricultural equipment</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    <%- include ('./Generics/menuArea-en.ejs') %>

    <div role="main" class="main">

    <div class="slider-container light rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 500, "disableProgressBar": "on"}'>
            <ul>
                <li data-transition="fade">

                <img src="/sites/all/themes/mcsrl/img/slides/slide-home.jpg"  
                    alt=""
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    data-kenburns="on"
                    data-duration="1000"
                    data-ease="Linear.easeNone"
                    data-scalestart="150"
                    data-scaleend="100"
                    data-rotatestart="0"
                    data-rotateend="0"
                    data-offsetstart="0 0"
                    data-offsetend="0 0"
                    data-bgparallax="0"
                    class="rev-slidebg">
                
                </li>
                <li data-transition="fade">

                <img src="/sites/all/themes/mcsrl/img/slides/slide-home-2.jpg"  
                    alt=""
                    data-bgposition="right center"
                    data-bgpositionend="center center"
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    data-kenburns="on"
                    data-duration="1000"
                    data-ease="Linear.easeNone"
                    data-scalestart="110"
                    data-scaleend="100"
                    data-rotatestart="0"
                    data-rotateend="0"
                    data-offsetstart="0 0"
                    data-offsetend="0 0"
                    data-bgparallax="0"
                    class="rev-slidebg">
                </li>
            </ul>
        </div>
    </div>

    <section class="section m-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h2><strong>Agricultural equipment</strong></h2>
                </div>
            </div>
            <div class="row mt-lg">
                <div class="col-md-3">
                <img class="img-responsive mb-lg" src="/sites/all/themes/mcsrl/img/logo-grande-mc.png" alt="M-C SRL">
                </div>
                <div class="col-md-9">
                <h2 class="mb-lg"><strong>M-C Srl </strong></h2>

                <p class="lead">
                    M-C produces <strong>innovative machines</strong> that find application in open field agriculture, in the realization of green areas and gardens of any size.
                </p>
                <p>The produced machines are <b>stone and plant buriers</b> for tractors, as well as <b>mechanical rakes</b> and <b>small buriers</b> applied to walking tractors with the auto-balance system.</p>

                <p>
                    Meca Group is an <b>accurate and reliable partner</b>, able to comply with the maximum punctuality, flexibility and efficiency in any type of order, all this under the care and confidentiality of its clients.
                </p>
                <a class="btn-flat btn-xs" style="font-size: 120%;" href="/en/company-profile"><b>DETAILS</b> <i class="fa fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-no-background m-none">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2><strong>Highlights</strong></h2>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-md-4">
            <a href="/en/minimot-stones-and-plants-burier"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_stoneburier.jpg" alt="MINIMOT: Stones and plants burier"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="/en/minimot-stones-and-plants-burier"><h5>MINIMOT: Stones and plants burier</h5></a>
                <p class="hyphenate">It is a stones and plants burier used applied to walking tractors in accordance with the EC- rules. The working widths available are 64 cm (walking tractor minimum power required 10 hp) and 80 cm (minimum power required 12 HP). The working depth of the machine is manually variable from 5 to 15 cm, and can be used both on worked land as a passage for the refining and sowing (broadcast seeder as optional for all models) or on unbroken ground for the remaking of gardens.</p>
                </article>
            </div>
            </div>
            <div class="col-md-4">
            <a href="/en/bovibedding-management-cattle-litter"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_bovibedding.jpg" alt="Bovibedding"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="/en/bovibedding-management-cattle-litter"><h5>BOVIBEDDING - Management of cattle litter</h5></a>
                <p class="hyphenate">The Bovibedding is the new machine for the management of the litter in cattle rearing. In addition to savings of 40/50% compared to litters that farmers currently use, takes even greater importance to the welfare of the animal, as it creates the conditions of aerobiosis within the litter, improving the health status of the same.</p>
                </article>
            </div>
            </div>
            <div class="col-md-4">
                <a href="/en/greenpower-multi-purpose-buriers-series-pm-and-ph"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_greenpowerr.jpg" alt="Greenpower"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="/en/greenpower-multi-purpose-buriers-series-pm-and-ph"><h5>GREENPOWER - Multi-purpose buriers series PM and PH</h5></a>
                <p class="hyphenate">The new Greenpower is a polyvalent hydraulic self- levelling burier with regulation and control the working depth from the driving. The PH series is recommended in models 226 and 266 for the agricultural sector, public green areas, parks and golf courses.</p>
                </article>
            </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    
    <%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>