<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | MACCHINE E ATTREZZATURE AGRICOLE</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    <%- include ('./Generics/menuArea-it.ejs') %>

    <div role="main" class="main">

    <div class="slider-container light rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 500, "disableProgressBar": "on"}'>
            <ul>
                <li data-transition="fade">

                <img src="/sites/all/themes/mcsrl/img/slides/slide-home.jpg"  
                    alt=""
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    data-kenburns="on"
                    data-duration="1000"
                    data-ease="Linear.easeNone"
                    data-scalestart="150"
                    data-scaleend="100"
                    data-rotatestart="0"
                    data-rotateend="0"
                    data-offsetstart="0 0"
                    data-offsetend="0 0"
                    data-bgparallax="0"
                    class="rev-slidebg">
                
                </li>
                <li data-transition="fade">

                <img src="/sites/all/themes/mcsrl/img/slides/slide-home-2.jpg"  
                    alt=""
                    data-bgposition="right center"
                    data-bgpositionend="center center"
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    data-kenburns="on"
                    data-duration="1000"
                    data-ease="Linear.easeNone"
                    data-scalestart="110"
                    data-scaleend="100"
                    data-rotatestart="0"
                    data-rotateend="0"
                    data-offsetstart="0 0"
                    data-offsetend="0 0"
                    data-bgparallax="0"
                    class="rev-slidebg">
                </li>
            </ul>
        </div>
    </div>

    <section class="section m-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h2><strong>MACCHINE E ATTREZZATURE AGRICOLE</strong></h2>
                </div>
            </div>
            <div class="row mt-lg">
                <div class="col-md-3">
                <img class="img-responsive mb-lg" src="/sites/all/themes/mcsrl/img/logo-grande-mc.png" alt="M-C SRL">
                </div>
                <div class="col-md-9">
                <h2 class="mb-lg"><strong>M-C Srl </strong></h2>

                <p class="lead">
                    M-C produce <strong>macchine innovative</strong> che trovano applicazione in agricoltura in pieno campo, nella realizzazione di aree verdi e giardini di qualsiasi dimensione.
                </p>
                <p>Le macchine prodotte sono <strong>interratrici</strong> di sassi e vegetali per trattori, nonché <strong>rastrelli meccanici</strong> e piccole <strong>interratrici</strong> applicate a motocoltivatori con sistema di autobilanciamento.</p>
                <p>
                    M-C è una giovane e dinamica realtà che si avvale della collaborazione di <strong>Gruppo Meca</strong>, che con i suoi <strong>35 anni di attività</strong>, opera nel settore della carpenteria metallica; in particolare si occupa della lavorazione lamiera.
                </p>
                <a class="btn-flat btn-xs" href="company-profile.html">Approfondisci <i class="fa fa-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-no-background m-none">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2><strong>In evidenza</strong></h2>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-md-4">
            <a href="minimot-interratrice-di-sassi-vegetali.html"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_interratricesassi.jpg" alt="Interratrice di sassi e vegetali"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="minimot-interratrice-di-sassi-vegetali.html"><h5>MINIMOT: Interratrice di sassi e vegetali</h5></a>
                <p class="hyphenate">Interratrice di sassi e vegetali da applicare a motocoltivatori a norme CE. Le larghezze di lavoro disponibili sono di 64 cm (potenza minima richiesta del motocoltivatore 10 CV) e di 80 cm (potenza minima richiesta 12 CV). La macchina ha profondità di lavoro variabile manualmente da 5 a 15 cm, e può essere utilizzata sia su terreno lavorato come passaggio per l’affinamento e la semina (seminatrice a spaglio optional per tutti i modelli) sia su terreno sodo per il rifacimento di giardini.</p>
                </article>
            </div>
            </div>
            <div class="col-md-4">
            <a href="bovibedding-gestione-delle-lettiere-bovine.html"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_bovibedding.jpg" alt="Bovibedding"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="bovibedding-gestione-delle-lettiere-bovine.html"><h5>BOVIBEDDING - Gestione delle lettiere bovine</h5></a>
                <p class="hyphenate">Il Bovibedding è la nuova macchina per la gestione delle lettiere nell’allevamento bovino a stabulato libero.
Oltre al risparmio del 40/50% rispetto al lettime che gli allevatori attualmente utilizzano, assume ancora maggiore importanza per il benessere dell'animale, in quanto crea le condizioni di aerobiosi all'interno della lettiera, migliorando lo stato sanitario della stessa.</p>
                </article>
            </div>
            </div>
            <div class="col-md-4">
                <a href="greenpower-polivalente-serie-pm-e-ph.html"><img class="img-responsive bordino" src="/sites/all/themes/mcsrl/img/home_greenpowerr.jpg" alt="Greenpower"></a>
            <div class="recent-posts mt-md mb-lg">
                <article class="post">
                <a href="greenpower-polivalente-serie-pm-e-ph.html"><h5>GREENPOWER - Polivalente serie PM e PH</h5></a>
                <p class="hyphenate">La nuova Greenpower serie PH è un interratrice polivalente idraulica autolivellante con regolazione e controllo profondità di lavoro dal posto di guida. La serie PH è consigliata nei modelli 226 e 266 per il settore agricolo, verde pubblico, parchi e campi da golf.</p>
                </article>
            </div>
            </div>
        </div>
        </div>
    </section>
    </div>
    
    <%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>