<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | MINIMOT - Stones and plants burier</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>MINIMOT - Stones and plants burier</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/minimot-interratrice-di-sassi-e-vegetali.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/yqjrFNzivRk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">
        It is a <strong>stones and plants burier</strong> used applied to walking tractors in accordance with the EC- rules. The working widths available are 64 cm (walking tractor mimimum power required 10 hp) and 80 cm (minimum power required 12 HP). The working depth of the machine is manually variable from 5 to 15 cm, and can be used both on worked land as a passage for the refining and sowing (broadcast seeder as optional for all models) or on unbroken ground for the remaking of gardens.</p>
        <p class="hyphenate">
        The <strong>self-balancing</strong> system makes the Minimot particularly manoeuvrable and easy to use, reducing the operator’s effort and the stress to the structural body of the walking tractor which must only transmit the power to the PTO for the motion of the machine, without any pressing on the joint between machine and walking tractor, <strong>avoiding</strong> thus <strong>breakages</strong> on the walking tractor’s body.<br />
        This system has allowed the construction of a heavy machine, if compared to similar applications, particularly strong and resistant, able to work also on unbroken soils and able to bury stones with a diameter up to 5-6 cm. The machine is supplied with overload clutch to avoid breakages and damages on the machine and on the walking tractor.</p>
        <p class="hyphenate">These machines <strong>can be applied to all walking tractors</strong>, in accordance with the EC-rules and of the best brands, by adapters available for up to 200 different models present on the market. Of course, the application must be carried out exclusively on walking tractors in accordance with
        the EC-rules and with power and structure appropriate to the task.
        Being the walking tractor not built by M-C, any application not correct and / or not complying with the EC-rules is prohibited and therefore it remains the sole responsibility of the buyer or the person acting for him.
        For a proper use it is essential to mount the self-balance. The machine is supplied with the grid roller; also for this machine, as for those of the larger series, the fall of the seed occurs after the passage of the burier, but immediately before the compression of the roller that makes the soil adhere to the seed.</p>
        <p class="hyphenate">
        The ability to work well on unbroken soils or with plant debris <strong>reduces the working time necessary</strong> for the realization of gardens, that combined with the quality of the work done guarantees the <strong>satisfaction of the users</strong>, who can do in one passage the work that before required three or four passages.</p>
        <p class="hyphenate">
        The ability to work well on soils with a strong presence of moss (typical in countries with very wet weather) allows its development also in areas where to regenerate a garden it was necessary to remove the top layer and then to replace new clean soil.<br />
        The <strong>strength</strong> and <strong>versatility</strong> of this machine are an added value that increases the potentiality of worldwide marketing, not only as a machine for green areas but also as an universal multipurpose machine, small but perfect for those developing countries where agriculture is still practiced at a household level, in small factories and often without tractor.</p>
        <p class="hyphenate">
        For those countries where mechanization is still lagging behind the most advanced countries, a machine like Minimot may represent the <strong>beginning of a development</strong> for farms modernization.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Technical data
                </th>
                <th>
                  064
                </th>
                <th>
                  080
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Working width
                </td>
                <td>
                  64 cm
                </td>
                <td>
                  80 cm
                </td>
              </tr>
              <tr>
                <td>Total width</td>
                <td>80 cm</td>
                <td>95 cm</td>
              </tr>
               <tr>
                <td>Total lenght</td>
                <td>100 cm</td>
                <td>100 cm</td>
              </tr>
              <tr>
                <td>Working depth</td>
                <td>From 5 to 15 cm</td>
                <td>From 5 to 15 cm</td>
              </tr>
              <tr>
                <td>Depth adjustment</td>
                <td>By pin</td>
                <td>By pin</td>
              </tr>
              <tr>
                <td>Number of blades</td>
                <td> 6 + 6 + 4</td>
                <td> 8 + 8 + 4</td>
              </tr>
              <tr>
                <td>Number of teeth grill</td>
                <td>22</td>
                <td>28</td>
              </tr>
              <tr>
                <td>PTO (RPM)</td>
                <td>540 / 900</td>
                <td>540 / 900</td>
              </tr>

              <tr>
                <td>Power HP</td>
                <td>10 / 12</td>
                <td>12 / 18</td>
              </tr>

              <tr>
                <td>Weight</td>
                <td>105 Kg</td>
                <td>125 Kg</td>
              </tr>

              <tr>
                <td>Seeder weight</td>
                <td>12 Kg</td>
                <td>12,5 Kg</td>
              </tr>
              <tr>
                <td>Medium weight selfbalancing <br />+ counterweights</td>
                <td>83 Kg</td>
                <td>83 Kg</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>