<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Minimot - Interratrice di sassi vegetali</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>MINIMOT - Interratrice di sassi e vegetali</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/minimot-interratrice-di-sassi-e-vegetali.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/yqjrFNzivRk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">
      Interratrice di sassi e vegetali da applicare a motocoltivatori a norme CE. Le larghezze di lavoro disponibili sono di 64 cm (potenza minima richiesta del motocoltivatore 10 CV) e di 80 cm (potenza minima richiesta 12 CV). La macchina ha profondità di lavoro variabile manualmente da 5 a 15 cm, e può essere utilizzata sia su terreno lavorato come passaggio per l’affinamento e la semina (seminatrice a spaglio optional per tutti i modelli) sia su terreno sodo per il rifacimento di giardini.</p>
      <p class="hyphenate">
      Il sistema di <strong>autobilanciamento</strong> rende il <strong>Minimot</strong> particolarmente manovrabile e semplice da utilizzare, riducendo lo sforzo dell’operatore e lo sforzo strutturale del corpo del motocoltivatore.<br />
      Quest’ultimo ha solamente il ruolo di trasmettere la potenza alla presa di forza e di far avanzare la macchina, mentre non viene sollecitato la giunzione tra la macchina ed il motocoltivatore, <strong>evitando fenomeni di rottura</strong> del corpo dello stesso.<br />
      Questo sistema ha permesso la costruzione di una macchina pesante se paragonata ad applicazioni simili, particolarmente robusta e resistente, in grado di lavorare anche su sodo e che riesce ad interrare sassi con diametro fino a 5-6 cm. La macchina viene fornita con <strong>frizione di sovraccarico</strong> per evitare rotture e danneggiamenti della macchina e del motocoltivatore.</p>
      <p class="hyphenate">
      <strong>Applicabile a tutti i motocoltivatori</strong> a norma CE delle migliori marche con adattatori disponibili fino a 200 diversi modelli presenti sul mercato. Naturalmente l’applicazione va eseguita esclusivamente su motocoltivatore a norma CE con potenza e struttura idonee al lavoro da svolgere. Essendo il motocoltivatore non di costruzione M-C, qualsiasi applicazione errata e/o non conforme alle norme CE è vietata e quindi rimane di esclusiva responsabilità dell’acquirente o di chi per esso. Per un corretto utilizzo è indispensabile il sistema di autobilanciamento. La macchina viene fornita con il <strong>rullo grigliato</strong>, e anche per questa macchina, come per quelle delle serie più grandi, la caduta del seme avviene dopo il passaggio dell’interratrice ma subito prima della compressione del rullo che fa aderire il terreno al seme.</p>
      <p class="hyphenate">
      La possibilità di lavorare anche su terreno sodo o con residui vegetali <strong>riduce i tempi</strong> di realizzazione di giardini, che unita alla qualità del lavoro svolto ne garantisce <strong>l’apprezzamento</strong> da parte degli utilizzatori, che riescono in un solo passaggio ad effettuare quei lavori che prima ne richiedevano tre o quattro.</p>
      <p class="hyphenate">
      La possibilità di lavorare anche in terreni con una forte presenza di muschio (tipico dei paesi con clima molto umido) ne permettono uno sviluppo anche in quelle zone in cui finora per la rigenerazione di un giardino era necessario asportare lo strato più superficiale e dovere poi riportare sul posto nuovo terreno pulito. La <strong>robustezza</strong> e la <strong>versatilità</strong> di questa macchina rappresentano un <strong>valore aggiunto</strong> che allarga le potenzialità di commercializzazione a livello mondiale, non solo come macchina per aree verdi ma anche come macchina universale quale piccolo ma perfetto semovente polivalente per quei paesi in via di sviluppo dove l’agricoltura è praticata ancora a livello familiare, con aziende piccolissime e dove spesso non è presente un trattore.</p>
      <p class="hyphenate">
      Per quei paesi in cui la meccanizzazione è ancora arretrata rispetto ai paesi più avanzati, una macchina come il Minimot può rappresentare l’<strong>inizio di uno sviluppo</strong> verso la modernizzazione delle aziende agricole.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Dati Tecnici
                </th>
                <th>
                  064
                </th>
                <th>
                  080
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Larghezza lavoro
                </td>
                <td>
                  64 cm
                </td>
                <td>
                  80 cm
                </td>
              </tr>
              <tr>
                <td>Larghezza Totale</td>
                <td>80 cm</td>
                <td>95 cm</td>
              </tr>
               <tr>
                <td>Lunghezza Totale</td>
                <td>100 cm</td>
                <td>100 cm</td>
              </tr>
              <tr>
                <td>Profondità lavoro</td>
                <td>Da 5 a 15 cm</td>
                <td>Da 5 a 15 cm</td>
              </tr>
              <tr>
                <td>Regolazione profondità</td>
                <td>A spina</td>
                <td>A spina</td>
              </tr>
              <tr>
                <td>Numero lame</td>
                <td> 6 + 6 + 4</td>
                <td> 8 + 8 + 4</td>
              </tr>
              <tr>
                <td>Numero denti griglia</td>
                <td>22</td>
                <td>28</td>
              </tr>
              <tr>
                <td>PTO (giri/min)</td>
                <td>540 / 900</td>
                <td>540 / 900</td>
              </tr>

              <tr>
                <td>Potenza HP</td>
                <td>10 / 12</td>
                <td>12 / 18</td>
              </tr>

              <tr>
                <td>Peso</td>
                <td>105 Kg</td>
                <td>125 Kg</td>
              </tr>

              <tr>
                <td>Peso seminatrice</td>
                <td>12 Kg</td>
                <td>12,5 Kg</td>
              </tr>
               <tr>
                <td>Peso medio autobilanciamento + contrappesi</td>
                <td>83 Kg</td>
                <td>83 Kg</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>