<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Rast3 - Modello012 Triplo Rastrello Livellatore</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


  <div class="spazio-sopra-si-menu">
    &nbsp;
  </div>

  <div id="sottomenu-carbon">
    <section class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>RAST3 Modello 012 - Triplo rastrello livellatore</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div role="main" class="main">
    <div class="container">

        <div class="row">
          <div class="col-md-12">
            <p class="lead">
              M-C produce <strong>macchine innovative</strong> che trovano applicazione in agricoltura in pieno campo, nella realizzazione di aree verdi e giardini di qualsiasi dimensione. Le macchine prodotte sono interratrici di sassi e vegetali per trattori, nonché rastrelli meccanici e piccole interratrici applicate a motocoltivatori con sistema di autobilanciamento.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!--<img class="img-responsive" src="/sites/default/files/prodotti/rast3-modello012.jpg">-->
            <div class="responsive-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/PUpEJaNXHY4" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
        </div>  

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="hyphenate">
            Il <strong>Rast3</strong> è un triplo rastrello livellatore da applicare al motocoltivatore a norma CE, con larghezze di lavoro di 1,2 mt. La macchina viene applicata a motocoltivatori con l’inversore (diverso dalla retromarcia) e ruote gemellate (da 10 pollici) in quanto deve poter mantenere livellato il terreno. Le finiture devono eseguite in retromarcia.
            Unica macchina presente sul mercato con <strong>3 rastrelli</strong> che lavorano simultaneamente con movimento alternato, migliorando la qualità del lavoro e la semplicità di utilizzo grazie al supporto dell’<strong>autobilanciamento</strong>. Viene utilizzato per stendere e livellare terreno riportato o ghiaia nelle aree verdi e giardini, creando una superficie perfettamente livellata, senza compattare il terreno ed affinandolo invece ad ogni passaggio, creando un letto di semina ideale.<br />
            Utilizzato per finiture di aiuole prima della semina del pratino. Ideale per giardinieri e manutentori di aree verdi in quanto sostituisce il tradizionale rastrello manuale in ogni suo utilizzo. Applicabile a motocoltivatori con potenza da 8 a 12 CV dotati di inversore.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="spazio-sopra-si-menu">
              &nbsp;
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width:40%">
                        Dati Tecnici
                      </th>
                      <th>
                        012
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Larghezza lavoro
                      </td>
                      <td>
                        120 cm
                      </td>
                    </tr>
                    <tr>
                      <td>Larghezza Totale</td>
                      <td>143 cm</td>
                    </tr>
                    <tr>
                      <td>Lunghezza Totale</td>
                      <td>46 cm</td>
                    </tr>
                    <tr>
                      <td>Altezza</td>
                      <td>28 cm</td>
                    </tr>
                    <tr>
                      <td>Rastrelli</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>Potenza HP</td>
                      <td>8 / 12</td>
                    </tr>
                    <tr>
                      <td>Peso</td>
                      <td>111 Kg</td>
                    </tr>
                    <tr>
                      <td>Peso con autobilanciamento <br />e contappesi </td>
                      <td>153 Kg</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
    </div>
  </div>
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>