<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | RAST3 Model 012 Triple levelling rake</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


  <div class="spazio-sopra-si-menu">
    &nbsp;
  </div>

  <div id="sottomenu-carbon">
    <section class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>RAST3 Model 012 Triple levelling rake</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div role="main" class="main">
    <div class="container">

        <div class="row">
          <div class="col-md-12">
            <p class="lead">
              M-C produces <strong>innovative machines</strong> that are used both in agriculture and in open fields for the creation of green areas and gardens of any sizes. The produced machines are buriers of plants and stones, to be used applied to tractors, mechanical rakes and small buriers to be used applied to walking tractors with <strong>auto-balance</strong>.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!--<img class="img-responsive" src="/sites/default/files/prodotti/rast3-modello012.jpg">-->
            <div class="responsive-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/PUpEJaNXHY4" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
        </div>  

        <div class="row">
          <div class="col-md-12">
            <hr class="tall">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="hyphenate">
              The <strong>Rast3</strong> is a triple levelling rake to be apply to the walking tractor in accordance with the EC-rules, with working widths of 1.2 m. The machine is applied to walking tractors with reverser (other than reverse gear) and twin wheels (10 inches wide) since it must be able to maintain level the ground.<br/ >
              Only machine on the market with <strong>3 rakes</strong> working simultaneously with seesaw, improving work quality and simpleness of use thanks to the <strong> auto-balance</strong>. It is used to spread and level the reported ground or gravel in parks and gardens, creating a perfectly levelled surface without compacting the soil and refining it throughout, creating a perfect seedbed.<br/ >Used to finish flower beds before sowing the lawn. Ideal for gardeners and operators of green areas. It replaces the traditional manual rake in every use.<br/ >It is used applied to walking tractors with power from 8 to 12 hp equipped with reverser.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="spazio-sopra-si-menu">
              &nbsp;
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width:40%">
                        Technical data
                      </th>
                      <th>
                        012
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Working width
                      </td>
                      <td>
                        120 cm
                      </td>
                    </tr>
                    <tr>
                      <td>Total width</td>
                      <td>143 cm</td>
                    </tr>
                     <tr>
                      <td>Total lenght</td>
                      <td>46 cm</td>
                    </tr>
                    <tr>
                      <td>Height</td>
                      <td>28 cm</td>
                    </tr>
                    <tr>
                      <td>Rakes</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>Power HP</td>
                      <td>8 / 12</td>
                    </tr>
                    <tr>
                      <td>Weight</td>
                      <td>111 Kg</td>
                    </tr>
                    <tr>
                      <td>Peso with selfbalancing <br />and counterweights </td>
                      <td>153 Kg</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
    </div>
  </div>
    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>