<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | BURIERS SERIES M - Stone and plants burier</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BURIERS SERIES M - Stone and plants burier</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/interratrice-serie-m.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/eW9sxefiso0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <p class="hyphenate">The buriers <strong>series M</strong> are reccomended in the models 140 - 170 - 210 and are used for the preparation of the soil and the broadcast seeding (optional) of herbal essences for the creation of green areas of medium-sized gardens and meadows: models 140 and 170.<br />
        Model 210 can be equipped only with seeder series heavy.<br />
        The machines are used on grounds previously worked, in the presence of stones of intermediate size (diameter of about 10 - 12 cm) it’s recommended a preventive manual or mechanical removing stones to avoid the formation of the insole and to help the drainage.<br />
        The depth can be adjusted manually or hydraulically, but in any case keeps active the self-levelling system of the rear grader blade. Working depth ranging from 5 to 22 cm.<br />
        This series is suitable for tractors with medium and small power (40 to 80 HP) often used for the realization of middle-sized green areas and gardens and thanks to its reduced weight, it does not require particular effort for the lifting. Ability to install the second steel roller (optional) for further rolling and levelling of the sown areas, particularly suitable for green areas and in the case of seed mixtures with reduced weight and dimensions.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Technical data
                </th>
                <th>
                  140M
                </th>
                <th>
                  170M
                </th>
                <th>
                  210M
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Working width
                </td>
                <td>142 cm</td>
                <td>168 cm</td>
                <td>209 cm</td>
              </tr>
              <tr>
                <td>Total width</td>
                <td>167 cm</td>
                <td>192 cm</td>
                <td>232 cm</td>
              </tr>
              <tr>
                <td>Movable attack</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td>Translate part dx</td>
                <td>180</td>
                <td>205</td>
                <td>240</td>
              </tr>
              <tr>
                <td>Working depth</td>
                <td>From 5 to 20 cm</td>
                <td>From 5 to 20 cm</td>
                <td>From 5 to 20 cm</td>
              </tr>
              <tr>
                <td>Depth adjustmen</td>
                <td>Screw / Hydraulics</td>
                <td>Screw / Hydraulics</td>
                <td>Screw / Hydraulics</td>
              </tr>
              <tr>
                <td>Crown door-blades</td>
                <td>7 x 6</td>
                <td>8 x 6</td>
                <td>10 x 6</td>
              </tr>
              <tr>
                <td>Number of blades</td>
                <td>21 + 21</td>
                <td>24 + 24</td>
                <td>30 + 30</td>
              </tr>
              <tr>
                <td>Number of teeth grill</td>
                <td>49</td>
                <td>57</td>
                <td>73</td>
              </tr>
              <tr>
                <td>3-point hitch</td>
                <td>Category 1-2</td>
                <td>Category 1-2</td>
                <td>Category 2</td>
              </tr>
              <tr>
                <td>PTO (RPM)</td>
                <td>540</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>About HP horsepower</td>
                <td>40 / 45</td>
                <td>50 / 60</td>
                <td>70 / 90</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>174 cm</td>
                <td>199 cm</td>
                <td>239 cm</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>156 / 110 cm</td>
                <td>156 / 110 cm</td>
                <td>156 / 110 cm</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>110 / 125 cm</td>
                <td>110 / 125 cm</td>
                <td>110 / 125 cm</td>
              </tr>

              <tr>
                <td>Variable weight approx.</td>
                <td>600 Kg</td>
                <td>650 Kg</td>
                <td>700 Kg</td>
              </tr>

              <tr>
                <td>Optional seed drill</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Only on request</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->        
    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>