<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Interratrice Serie L - Interratrice di sassi e vegetali</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>INTERRATRICE SERIE L - Interratrice di sassi e vegetali</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/interratrice-serie-l.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/eW9sxefiso0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">Le interratrici <strong>serie L</strong> hanno larghezza di lavoro da 1,10 mt a 1,30 mt e vengono utilizzate per la preparazione e la semina a spaglio (optional) di giardini di piccole e medie dimensioni. Le macchine della serie L sono utilizzate preferibilmente su terreno precedentemente lavorato e con sassi di dimensioni massime di circa 8 cm; anche su sodo nel caso di terreni sciolti e leggeri in presenza di sassi e residui vegetali, come ad esempio per il rifacimento di prati e giardini senza la necessità di effettuare una seconda lavorazione. Grazie al <strong>peso e le dimensioni ridotte</strong> possono essere utilizzate con trattori di piccola potenza (da 20 a 30 CV), offrendo una grande manovrabilità anche negli spazi piccoli dei giardini. Profondità di lavoro variabile manualmente da 5 a 15 cm cambiando l’altezza del rullo posteriore. Viene fornita con rullo posteriore grigliato ed è prevista la possibilità di installare un secondo rullo inox.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Dati Tecnici
                </th>
                <th>
                  110L
                </th>
                <th>
                  130L
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Larghezza lavoro
                </td>
                <td>
                  110 cm
                </td>
                <td>
                  130 cm
                </td>
              </tr>
              <tr>
                <td>Larghezza Totale</td>
                <td>130 cm</td>
                <td>150 cm</td>
              </tr>
              <tr>
                <td>Attacco traslabile</td>
                <td>Sì</td>
                <td>Sì</td>
              </tr>
              <tr>
                <td>Traslazione parte dx</td>
                <td>132</td>
                <td>152</td>
              </tr>
              <tr>
                <td>Profondità lavoro</td>
                <td>Da 5 a 15 cm</td>
                <td>Da 5 a 15 cm</td>
              </tr>
              <tr>
                <td>Regolazione profondità</td>
                <td>A spina</td>
                <td>A spina</td>
              </tr>
              <tr>
                <td>Corona porta lame</td>
                <td>5 x 4</td>
                <td>6 x 4</td>
              </tr>
              <tr>
                <td>Numero lame</td>
                <td> 10 + 10</td>
                <td> 12 + 12 </td>
              </tr>
              <tr>
                <td>Numero denti griglia</td>
                <td>38</td>
                <td>44</td>
              </tr>
              <tr>
                <td>Attacco a 3 punti</td>
                <td>Categoria 1</td>
                <td>Categoria 1</td>
              </tr>
              <tr>
                <td>PTO (giri/min)</td>
                <td>540</td>
                <td>540</td>
              </tr>

              <tr>
                <td>Potenza circa HP</td>
                <td>22 / 28</td>
                <td>28 / 35</td>
              </tr>
              <tr>
                <td>Lunghezza con 2° rullo inox</td>
                <td>137 cm</td>
                <td>157 cm</td>
              </tr>
              <tr>
                <td>Lunghezza rullo alzato</td>
                <td>132 cm</td>
                <td>152 cm</td>
              </tr>
              <tr>
                <td>Altezza rullo verticale</td>
                <td>92 cm</td>
                <td>92 cm</td>
              </tr>

              <tr>
                <td>Peso variabile circa</td>
                <td>275 Kg</td>
                <td>305 Kg</td>
              </tr>

              <tr>
                <td>Seminatrice optional</td>
                <td>Sì</td>
                <td>Sì</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->        

    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>