<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<title>M-C Srl | BURIERS SERIES L - Stone and plants burier</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-en.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BURIERS SERIES L - Stone and plants burier </h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/interratrice-serie-l.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/eW9sxefiso0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">The buriers <strong>series L</strong> have a working width of 1.10 m to 1.30 m and are used for the preparation and the broadcast sowing (optional) of small and middle-sized gardens. The machines of the series L are used preferably on grounds with stones of about 8 cm maximum, previously worked but also on unbroken soils, if they are loose and light, also with stones and plant residues; an example is the remaking of lawns and gardens without the need to perform a second processing. <br />With its <strong>light weight</strong> and <strong>small size</strong> this machine can be used with little tractors (20 to 30 HP) and results very good manoeuvrability in the smallest spaces of the gardens. Working depth manually variable from 5 to 15 cm by changing the height of the rear roller. Is supplied with a rear grid roller and there is possible to have the second steel roller.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Technical data
                </th>
                <th>
                  110L
                </th>
                <th>
                  130L
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Working width
                </td>
                <td>
                  110 cm
                </td>
                <td>
                  130 cm
                </td>
              </tr>
              <tr>
                <td>Total width</td>
                <td>130 cm</td>
                <td>150 cm</td>
              </tr>
              <tr>
                <td>Movable attack</td>
                <td>Sì</td>
                <td>Sì</td>
              </tr>
              <tr>
                <td>Translate part dx</td>
                <td>132</td>
                <td>152</td>
              </tr>
              <tr>
                <td>Working depth</td>
                <td>From 5 to 15 cm</td>
                <td>From 5 to 15 cm</td>
              </tr>
              <tr>
                <td>Depth adjustment</td>
                <td>By pin</td>
                <td>By pin</td>
              </tr>
              <tr>
                <td>Crown door-blades</td>
                <td>5 x 4</td>
                <td>6 x 4</td>
              </tr>
              <tr>
                <td>Number of blades</td>
                <td> 10 + 10</td>
                <td> 12 + 12 </td>
              </tr>
              <tr>
                <td>Number of teeth grill</td>
                <td>38</td>
                <td>44</td>
              </tr>
              <tr>
                <td>3-point hitch</td>
                <td>Category 1</td>
                <td>Category 1</td>
              </tr>
              <tr>
                <td>PTO (RPM)</td>
                <td>540</td>
                <td>540</td>
              </tr>

              <tr>
                <td>About HP horsepower</td>
                <td>22 / 28</td>
                <td>28 / 35</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>137 cm</td>
                <td>157 cm</td>
              </tr>
              <tr>
                <td>Length (sem broadcaster)</td>
                <td>132 cm</td>
                <td>132 cm</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>92 cm</td>
                <td>92 cm</td>
              </tr>

              <tr>
                <td>Variable weight approx. </td>
                <td>275 Kg</td>
                <td>305 Kg</td>
              </tr>
              <tr>
                <td>Optional seed drill</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->        

    
<%- include ('./Generics/footer-en.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>