<!DOCTYPE html>
<html class="no-js" lang="it">
<head>
<title>M-C Srl | Interratrice Serie M - Interratrice di sassi e vegetali</title>

<%- include ('./Generics/head.ejs') %>
</head>


<body class="front no-sidebars node-type-page i18n-it">


<div class="body">
    
    
<%- include ('./Generics/menuArea-it.ejs') %>


<div class="spazio-sopra-si-menu">
  &nbsp;
</div>

<div id="sottomenu-carbon">
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>INTERRATRICE SERIE M - Interratrice di sassi e vegetali</h1>
      </div>
    </div>
  </div>
</section>
</div>


<div role="main" class="main">
<div class="container">

  
  <div class="row">
    <div class="col-md-12">
       <!--<img class="img-responsive" src="/sites/default/files/prodotti/interratrice-serie-m.jpg">-->
       <div class="responsive-video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/eW9sxefiso0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="hyphenate">Le interratrici della <strong>serie </strong>M vengono consigliate nei modelli 140, 170 e 210, sono utilizzate per la preparazione del terreno e la semina a spaglio (optional) di essenze erbacee per la creazione di aree verdi di medie dimensioni, giardini, e prati di superficie intermedia nei modelli 140 e 170. Il modello 210 può essere dotato solo di seminatrice serie pesante.<br />
      Le macchine vengono utilizzate preferibilmente su terreno precedentemente lavorato, per sassi oltre a 10-12 cm è consigliabile uno spietramento preventivo, manuale o meccanico per evitare la formazione della suoletta e favorire il drenaggio.<br />
      La regolazione della profondità può essere regolata manualmente o idraulicamente, ma in ogni caso viene mantenuto il sistema di <strong>autolivellamento</strong> della lama livellatrice posteriore. Profondità di lavoro variabile da 5 a 22 cm.<br />
      Serie indicata per trattori di media e piccola potenza (da 40 a 80 CV) spesso utilizzati per la realizzazione di aree verdi di dimensioni intermedie e giardini, grazie al peso contenuto non richiede particolare sforzo per il sollevamento. Possibilità di installare secondo rullo inox (optional) per ulteriore rullatura e livellamento delle superfici seminate, particolarmente indicato per aree verdi e nel caso di miscugli di sementi con pesi e dimensioni ridotte.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="spazio-sopra-si-menu">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
            <thead>
              <tr>
                <th style="width:40%">
                  Dati Tecnici
                </th>
                <th>
                  140M
                </th>
                <th>
                  170M
                </th>
                <th>
                  210M
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Larghezza lavoro
                </td>
                <td>142 cm</td>
                <td>168 cm</td>
                <td>209 cm</td>
              </tr>
              <tr>
                <td>Larghezza Totale</td>
                <td>167 cm</td>
                <td>192 cm</td>
                <td>232 cm</td>
              </tr>
              <tr>
                <td>Attacco traslabile</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Sì</td>
              </tr>
              <tr>
                <td>Traslazione parte dx</td>
                <td>180</td>
                <td>205</td>
                <td>240</td>
              </tr>
              <tr>
                <td>Profondità lavoro</td>
                <td>Da 5 a 20 cm</td>
                <td>Da 5 a 20 cm</td>
                <td>Da 5 a 20 cm</td>
              </tr>
              <tr>
                <td>Regolazione profondità</td>
                <td>A vite / idraulica</td>
                <td>A vite / idraulica</td>
                <td>A vite / idraulica</td>
              </tr>
              <tr>
                <td>Corona porta-lame</td>
                <td> 7 x 6</td>
                <td> 8 x 6</td>
                <td> 10 x 6</td>
              </tr>
              <tr>
                <td>Numero lame</td>
                <td> 21 + 21</td>
                <td> 24 + 24</td>
                <td> 30 + 30</td>
              </tr>
              <tr>
                <td>Numero denti griglia</td>
                <td>47</td>
                <td>57</td>
                <td>73</td>
              </tr>
              <tr>
                <td>Attacco a 3 punti</td>
                <td>Categoria 1-2</td>
                <td>Categoria 1-2</td>
                <td>Categoria 2</td>
              </tr>
              <tr>
                <td>PTO (giri/min)</td>
                <td>540</td>
                <td>540</td>
                <td>540</td>
              </tr>
              <tr>
                <td>Potenza circa HP</td>
                <td>40 / 45</td>
                <td>50 / 60</td>
                <td>70 / 90</td>
              </tr>
              <tr>
                <td>Lunghezza con 2° rullo inox</td>
                <td>174 cm</td>
                <td>199 cm</td>
                <td>239 cm</td>
              </tr>
              <tr>
                <td>Lunghezza rullo alzato</td>
                <td>156 / 110 cm</td>
                <td>156 / 110 cm</td>
                <td>156 / 110 cm</td>
              </tr>
              <tr>
                <td>Altezza rullo verticale</td>
                <td>110 / 125 cm</td>
                <td>110 / 125 cm</td>
                <td>110 / 125 cm</td>
              </tr>

              <tr>
                <td>Peso variabile circa</td>
                <td>600 Kg</td>
                <td>650 Kg</td>
                <td>700 Kg</td>
              </tr>

              <tr>
                <td>Seminatrice optional</td>
                <td>Sì</td>
                <td>Sì</td>
                <td>Solo su richiesta</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
</div>
<!-- fine pagina MC -->        
    
<%- include ('./Generics/footer-it.ejs') %>

</div>

<%- include ('./Generics/js.ejs') %>

</body>
</html>