<footer class="short" id="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-7">
            <h4 class="heading-primary">M-C Srl</h4>
            <p>M-C produce macchine innovative che trovano applicazione in agricoltura in pieno campo, nella realizzazione di aree verdi e giardini di qualsiasi dimensione. Le macchine prodotte sono interratrici di sassi e vegetali per trattori, nonché rastrelli meccanici e piccole interratrici applicate a motocoltivatori con sistema di autobilanciamento.
Tutto il processo produttivo di tali macchinari è interno a Gruppo Meca, in modo da mantenere il massimo controllo qualitativo dei componenti prodotti e minimizzare i costi. <a href="company-profile.html" class="btn-flat btn-xs">Approfondisci <i class="fa fa-arrow-right"></i></a></p>
            <hr class="light">
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h5 class="mb-sm">Contact Us</h5>
            <span class="phone"><br />(+39) 0522-964261</span>
            <ul class="list list-icons list-icons-sm">
            <li><i class="fa fa-envelope"></i> <a href="mailto:info@m-csrl.it">info@m-csrl.it</a></li>
            </ul>
            <!--<ul class="social-icons">
            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>-->
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        <div class="row">
            <!-- <div class="col-md-1">
            <a href="index.html" class="logo">
                <img alt="M-C Srl" class="img-responsive" src="/sites/all/themes/mcsrl/img/logo-mc-grigio.png">
            </a>
            </div> -->
            <div class="col-md-12 text-center">
            <p>MC SRL - © Copyright 2016. All Rights Reserved</p>
            </div>
        </div>
        </div>
    </div>
    </footer>