<header id="header" class="header-no-border-bottom" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 148, "stickySetTop": "-148px", "stickyChangeLogo": false}'>
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="/it">
                        <img alt="MC SRL" width="111" data-sticky-width="82" data-sticky-height="40" data-sticky-top="33" src="/sites/all/themes/mcsrl/img/logo-mc.png">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <ul class="header-extra-info hidden-xs">
                        <li>
                        <div class="feature-box feature-box-style-3">
                            <div class="feature-box-icon">
                            <i class="fa fa-phone"></i>
                            </div>
                            <div class="feature-box-info">
                            <h4 class="mb-none">(+39) 0522-964261</h4>
                            <p><small>Chiamaci senza impegno</small></p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="feature-box feature-box-style-3">
                            <div class="feature-box-icon">
                            <i class="fa fa-envelope"></i>
                            </div>
                            <div class="feature-box-info">
                            <h4 class="mb-none">info@m-csrl.it</h4>
                            <p><small>Inviaci un'email</small></p>
                            </div>
                        </div>
                        </li>
                        <li>
                        <div class="feature-box feature-box-style-3">
                            <!--<div class="feature-box-icon">
                            <i class="fa fa-envelope"></i>
                            </div>-->
                            <div class="feature-box-info">
                            <h4 class="mb-none"><a href="/it">ITALIANO</a></h4>
                            <h4 class="mb-none"><a href="/en">ENGLISH</a></h4>
                            </div>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-container header-nav header-nav-bar header-nav-bar-primary">
            <div class="container">
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                <i class="fa fa-bars"></i>
                </button>
                <div class="header-nav-main header-nav-main-light header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                    <nav>
                        <ul class="nav nav-pills" id="mainNav">
                        <li class="">
                            <a href="/it">
                            Home
                            </a>
                        </li>
                        <li class="">
                            <a href="/it/company-profile">
                            Company
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="/it/rast3-modello-012-triplo-rastrello-livellatore">
                            Macchine
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="/it/rast3-modello-012-triplo-rastrello-livellatore">Rast3 - Modello012 Triplo Rastrello Livellatore</a></li>
                            <li><a href="/it/minimot-interratrice-di-sassi-vegetali">Minimot - Interratrice di sassi vegetali</a></li>
                            <li><a href="/it/interratrice-serie-l-interratrice-di-sassi-e-vegetali">Interratrice Serie L - Interratrice di sassi e vegetali</a></li>
                            <li><a href="/it/interratrice-serie-m-interratrice-di-sassi-e-vegetali">Interratrice Serie M - Interratrice di sassi e vegetali</a></li>
                            <li><a href="/it/greenpower-polivalente-serie-pm-e-ph">Greenpower - Polivalente serie PM e PH</a></li>
                            <li><a href="/it/bovibedding-gestione-delle-lettiere-bovine">Bovibedding - Gestione delle lettiere bovine</a></li>
                            </ul>
                        </li>
                        <!-- <li class="dropdown">
                            <a class="dropdown-toggle" href="#">
                            MINIDUMPER
                            </a>
                            <ul class="dropdown-menu">
                            <li><a href="/minidumper-meccanica-modello-m31">Minidumper meccanica - Modello M31</a></li>
                            <li><a href="/minidumper-meccanica-modello-m41">Minidumper meccanica - Modello M41</a></li>
                            <li><a href="/minidumper-meccanica-modello-m61">Minidumper meccanica - Modello M61</a></li>
                            <li><a href="/minidumper-idraulica-modello-h55">Minidumper idraulica - Modello H55</a></li>
                            <li><a href="/minidumper-idraulica-modello-h75">Minidumper idraulica - Modello H75</a></li>
                            <li><a href="/minidumper-idraulica-modello-h85x">Minidumper idraulica - Modello H85 X</a></li>
                            </ul>
                        </li>-->
                        <li class="">
                            <a href="/it/contattaci">
                            Contattaci
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </header>